<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInsert</servlet-name>
        <servlet-class>com.crud.web.servlet.ServletInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRead</servlet-name>
        <servlet-class>com.crud.web.servlet.ServletRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdate</servlet-name>
        <servlet-class>com.crud.web.servlet.ServletUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelete</servlet-name>
        <servlet-class>com.crud.web.servlet.ServletDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInsert</servlet-name>
        <url-pattern>/servletInsert</url-pattern>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRead</servlet-name>
        <url-pattern>/servletRead</url-pattern>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdate</servlet-name>
        <url-pattern>/servletUpdate</url-pattern>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelete</servlet-name>
        <url-pattern>/servletDelete</url-pattern>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
